

= javascript_tag "var discovery_url = '#{discovery_url}';"
coffee:
  $ ->
    window.swaggerUi = new SwaggerUi
      url:  discovery_url
      dom_id: "swagger-ui-container"
      supportHeaderParams: true
      supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch']
      onComplete:  (swaggerApi, swaggerUi) ->
        if console
          console.log("Loaded SwaggerUI")
          console.log(swaggerApi)
          console.log(swaggerUi)
        $('pre code').each (i, e) -> hljs.highlightBlock(e)

      onFailure: (data) ->
        if console
          console.log("Unable to Load SwaggerUI")
          console.log(data)
      docExpansion: "none"

    window.swaggerUi.load()


javascript:
  $('#input_apiKey').change(function() {
    var key = $('#input_apiKey')[0].value;
    if(key && key.trim() != "") {
      swaggerUi.api.clientAuthorizations.add("key", new SwaggerClient.ApiKeyAuthorization("api_key", key, "header"));
    }
  })
