.text-center
  = funnel funnel_data
/.row
  /.col-md-9
    /div style='text-align: center'
  /.col-md-3
    /div style='margin-top: 25px'
      /- insights.each_with_index do |i, idx|
        /div.alert class="alert-#{i.type}"
          /strong= "[#{idx}] "
          /= i.text
