- if funnel_data[:values].first > 0
  .text-center.m-t-lg
    = funnel funnel_data
- else
  .jumbotron
    h1 Нет данных
    p.lead На этом сайте еще небыло ни одного посетителя.

/.row
  /.col-md-9
    /div style='text-align: center'
  /.col-md-3
    /div style='margin-top: 25px'
      /- insights.each_with_index do |i, idx|
        /div.alert class="alert-#{i.type}"
          /strong= "[#{idx}] "
          /= i.text
