= simple_form_for [:account, landing] do |f|
  = f.input :title, label: 'Название нового лендинга', autofocus: true, placeholder: 'Например: Прием заказов в парикмахерскую'
  = f.button :submit, 'Создать', class: 'btn-primary'
