== I18n.t 'mailers.balance_mailer.charge_error_email.body_text', \
            account: @account, \
            billing_url: @billing_url, \
            payments_url: @payments_url, \
            date: I18n.l(@date, format: :month)
