.promo-examples
  %div{'ks-owl-carousel2': true}
    .promo-example
      %a.promo-example-link{href: 'http://www.wanna-be.ru', title: 'wanna-be.ru', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/wanna-be.jpg', alt: 'wanna-be.ru'}
        %h6.promo-example-title wanna-be.ru
    -#.promo-example
      -#%a.promo-example-link{href: 'http://www.etc.kiiiosk.ru', title: 'etc.kiiiosk.ru', target: '_blank'}
        -#.browser
          -#.browser-viewport
            -#%img{src: 'sys/images/promo-examples/etc.jpg', alt: 'etc.kiiiosk.ru'}
        -#%h6.promo-example-title etc.kiiiosk.ru
    .promo-example
      %a.promo-example-link{href: 'http://www.naturallab.ru', title: 'naturallab.ru', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/naturallab.jpg', alt: 'naturallab.ru'}
        %h6.promo-example-title naturallab.ru
    -#.promo-example
      -#%a.promo-example-link{href: 'http://www.idealistbooks.ru', title: 'idealistbooks.ru', target: '_blank'}
        -#.browser
          -#.browser-viewport
            -#%img{src: 'sys/images/promo-examples/idealistbooks.jpg', alt: 'idealistbooks.ru'}
        -#%h6.promo-example-title idealistbooks.ru
    .promo-example
      %a.promo-example-link{href: 'http://sputnik-bags.ru', title: 'sputnik-bags.ru', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/sputnik.jpg', alt: 'sputnik-bags.ru'}
        %h6.promo-example-title sputnik-bags.ru
    .promo-example
      %a.promo-example-link{href: 'http://shop.mylkco.com', title: 'shop.mylkco.com', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/mylk.jpg', alt: 'shop.mylkco.com'}
        %h6.promo-example-title shop.mylkco.com
    .promo-example
      %a.promo-example-link{href: 'http://saharokstore.ru', title: 'saharokstore.ru', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/saharok.jpg', alt: 'saharokstore.ru'}
        %h6.promo-example-title saharokstore.ru
    .promo-example
      %a.promo-example-link{href: 'http://mastbrothers.ru', title: 'mastbrothers.ru', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/mastbrothers.jpg', alt: 'mastbrothers.ru'}
        %h6.promo-example-title mastbrothers.ru
    .promo-example
      %a.promo-example-link{href: 'http://varvara-shop.com', title: 'varvara-shop.com', target: '_blank'}
        .browser
          .browser-viewport
            %img{src: 'sys/images/promo-examples/varvarashop.jpg', alt: 'varvara-shop.com'}
        %h6.promo-example-title varvara-shop.com
