test:
  adapter: postgresql
  encoding: unicode
  database: test_<%= ENV['PGDATABASE'] %><%= ENV['BUILD_NUMBER'] || ENV['TEST_ENV_NUMBER'] %>
  pool: 5
  username: <%= ENV['PGUSER'] %>
  password: 
  host: <%= ENV['PGHOST'] %>
development:
  adapter: postgresql
  encoding: unicode
  database: bml_test
  pool: 5
  username: <%= ENV['PGUSER'] %>
  password:
production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['PGDATABASE'] %>
  pool: 5
  username: <%= ENV['PGUSER'] %>
  password: 
  host: <%= ENV['PGHOST'] %>
