test:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['PGDATABASE'] %>
  pool: 5
  username: <%= ENV['PGUSER'] %>
  password: 
  host: <%= ENV['PGHOST'] %>
development:
  adapter: postgresql
  encoding: unicode
  database: bml_test
  pool: 5
  username: 
  password:
production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['PGDATABASE'] %>
  pool: 5
  username: <%= ENV['PGUSER'] %>
  password: 
  host: <%= ENV['PGHOST'] %>
