production:
  sidekiq:
    username: bml
    password: bml
  smsc:
    login: dapi
    password: '|fc6oq6sw(c22ok7e6]bul9^u0(6mv['
    sender: bmland

  cloudpayments:
    public_key: 'test_api_00000000000000000000001'
    secret_key: 'test_api_00000000000000000000001'

development:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
  smsc:
    login: dapi
    password: '|fc6oq6sw(c22ok7e6]bul9^u0(6mv['
    sender: bmland

  cloudpayments:
    public_key: 'test_api_00000000000000000000001'
    secret_key: 'test_api_00000000000000000000001'

test:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
  redis:
    host: 127.0.0.1
    port: 6379
    password:
    db: 0
    # Enable thread-safe, mandatory for production environments
    thread_safe: true
    size: 50
    timeout: 3

  sidekiq:
    redis:
      url: redis://localhost:6379/1
      namespace: bml_test

  cloudpayments:
    public_key: 'test_api_00000000000000000000001'
    secret_key: 'test_api_00000000000000000000001'
