production:
  sidekiq:
    username: bml
    password: bml
  smsc:
    login: dapi
    password: '|fc6oq6sw(c22ok7e6]bul9^u0(6mv['
    sender: bmland

development:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
  smsc:
    login: dapi
    password: '|fc6oq6sw(c22ok7e6]bul9^u0(6mv['
    sender: bmland

test:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
