production:
  sidekiq:
    username: bml
    password: bml

development:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
test:
  secret_key_base: CNjJWOiIpc2r4Adn
  secret_key_token: CNjJWOiIpc2r4Adn
