== I18n.t 'mailers.invite_mailer.added_to_account.body', \
            inviter: @inviter.name, \
            account: @account.to_s, \
            role: I18n.t(@role, scope: 'enumerize.invite.role'), \
            url: @account.url
