== I18n.t 'mailers.invite_mailer.new_invite.body', \
            inviter: @invite.user_inviter.name, \
            account: @invite.account.to_s, \
            role: @invite.role.text, \
            url: @url
