= javascript_include_tag 'https://widget.cloudpayments.ru/bundles/checkout'
javascript:
  createCryptogram = function ($form) {
    var result = checkout.createCryptogramPacket();

    if (result.success) {
      $form.find('[data-cryptogram-packet]').val(result.packet);
    }
  };

  $(function() {
    var $balancePaymentForm = $('[data-balance-payment-form]').first()

    checkout = new cp.Checkout(
      '#{Secrets.cloudpayments.public_key}',
      $balancePaymentForm[0]
    );

    $balancePaymentForm.on('submit', function(){
      createCryptogram($(this));
    });
  });
