/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nprogress
 *= require nprogress-bootstrap
 *= require selectize/dist/css/selectize.css
 *= require selectize/dist/css/selectize.bootstrap3.css
 *= require font-awesome
 *= require projects
 *= require better_form_overrides
 *= require_self
 */

@import 'bootstrap';
@import 'buttons';
@import 'spacing';
@import 'welcome';
@import 'custom';
@import 'auth';
@import 'logo';
@import 'flash';
@import 'lead_filter';
@import 'alerts';
@import 'lead';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,800);

.label-md {
  height: 30px;
  line-height: 24px !important;
  padding: 2px 8px;
}
.text-muted {
  color: inherit;
  opacity: 0.6;
}

html {
  min-height: 100%;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.table {
  .list-inline {
    margin-bottom: 0;
  }
  .label {
    line-height: 16px;
    font-size: 100%;
    font-weight: normal;
  }
}

.radio label,
.checkbox label {
  font-weight: inherit;
}

.radio label input,
.checkbox label input {
  position: absolute !important;
  top: 1px !important;
}
