.auth-header
  position: fixed
  top: 0
  width: 100%
  text-align: center
  margin-top: 5px
  padding: 1em 0
  border-bottom: 1px solid #eee

.auth-content
  padding-top: 4em

.auth-header-link
  color: #666
  &:hover
    color: #333
    text-decoration: none
