.btn-primary
  background-image: linear-gradient(#5db6e8, #168eda 85%, #168eda 90%, #1d93dd)

.btn-white-outline
  border-color: white
  color: white
  opacity: 0.9

  &:hover,
  &:focus
    color: white
    opacity: 1

.btn-white
  background-color: white
  color: black

.btn-circle
  padding: 6px 0
  width: 30px
  height: 30px
  border-radius: 15px
  text-align: center
  font-size: 12px
  line-height: 1.3
