// Не использовать ID
// Не изменять стандартные bootstrap классы

.nav-title
  color: rgba(255, 255, 255, 0.8)
  opacity: 1

.tooltip-inner
  // А то url-ы не влизают
  max-width: 300px

.textarea-code
  font-family: "Lucida Console", Monaco, monospace
  font-size: 12px

.icon-link
  color: #eee

.table-centered
  width: auto
  margin: auto

.page-header
  @extend .m-b-md

.table-projects
  td
    vertical-align: middle

td.sort-column
  width: 30px

.handle
  cursor: ns-resize

.navbar-brand
  margin-right: 1em

ul.navbar-bml
  // margin-left: 4rem
  .nav-item + .nav-item
    margin-left: 3rem

.navbar-right
  .navbar-icon
    float: right
    margin-right: inherit

.navbar-center
  margin: auto
  width: 100px

.navbar-icon
  float: left
  color: rgba(255, 255, 255, 0.5)
  padding-top: .25rem
  padding-bottom: .25rem
  margin-right: 1rem
  font-size: 1.25rem
  &:hover
    color: #eee

.navbar-space
  height: 80px

.page-content
  margin-top: 40px
  margin-bottom: 40px

.page-container
  margin-top: 100px

.narrow-container
  @extend .container
  max-width: 760px

.wide-container
  @extend .page-content
  margin: auto 20px

.navbar-light
  background-color: #fff
  border-bottom: 1px solid #eee
  .navbar-icon
    color: #999
    &.active
      color: #333

.account-header
  margin-top: 40px
  text-align: center

.navbar-top
  margin-bottom: 30px

.sub-top-menu
  margin-bottom: 20px

.page-content
  margin-top: 20px

.img-bordered
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3)

.table-small-text
  font-size: 80%

.fa-in-button
  margin-right: 5px

.dropdown-secondary-item
  font-size: 12px

.menu-hor-icon
  margin-right: 3px

.bottom-space
  height: 60px

.list-inline
  li
    display: inline-block
    padding-left: 5px
    padding-right: 5px
