// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'welcome-shared'
@import 'welcome-tariff'
@import 'welcome-basic-tariff'
@import 'welcome-nav'
@import 'welcome-form'

.welcome
  height: 100%
  min-height: 350px
  background-image: linear-gradient(180deg, $colorWelcome, $colorWelcome2)
  // background-color: #563d7c
  font-family: 'Open Sans', sans-serif
  // font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial

.welcome-hero
  width: 100%
  margin: 1em auto
  position: relative

  //position: absolute
  //top: 50%
  //transform: translateY(-50%)


.welcome-welcome
  text-align: center

.welcome-page
  color: white

.welcome-page-title
  margin-bottom: 0.5em
  font-size: 3em

.welcome-page-button-wrapper
  margin-top: 2em

.welcome-header
  font-size: 3.5em
  font-weight: 600

  color: white
  margin-bottom: 0.25em

.welcome-footer
  text-align: center
  color: white
  font-size: 14px
  padding-bottom: 15px
  opacity: 0.4
  position: absolute
  width: 100%
  height: 55px
  bottom: 0
  @media screen and (max-height: 1000px)
    position: relative

.welcome-subheader
  color: white
  opacity: 0.8
  margin-bottom: 2em

