$colorWelcome: rgb(41, 156, 195)
$colorWelcome2: rgb(41, 120, 195)

//$colorWelcome: rgb(195, 41, 156)
//$colorWelcome2: rgb(195, 41, 44)

$colorWelcome1: lighten($colorWelcome, 10%)
$colorWelcome3: lighten($colorWelcome2, 10%)

.welcome-link
  color: white
  opacity: 0.8

  &:visited,
  &:link,
  &:hover,
  &:focus,
    color: white
