.welcome-basic-tariff
  color: white
  border: 1px solid white
  border-radius: 4px
  padding: 35px 40px 30px
  margin-top: 5px
  margin-bottom: 35px

  &-details
    margin-top: 10px
    font-size: 80%

  &-details-item
    line-height: 1.5
