// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorWelcome: rgb(195, 41, 156)

@import 'welcome-tariff'
@import 'welcome-basic-tariff'

.welcome
  height: 100%
  min-height: 350px
  background-image: linear-gradient(75deg, $colorWelcome, rgb(195, 41, 44))
  // background-color: #563d7c
  font-family: 'Open Sans', sans-serif
  // font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial

.welcome-nav-header
  position: absolute
  text-align: right
  width: 100%
  padding: 2em 3em
  // Чтобы быть выше центральной области (vertical-container) чтобы
  // не пропадала кнопка
  z-index: 2

.welcome-hero
  width: 100%
  margin: 1em auto
  position: relative

  //position: absolute
  //top: 50%
  //transform: translateY(-50%)


.welcome-nav-link-wrapper

.welcome-link
  color: white
  opacity: 0.8

  &:visited,
  &:link,
  &:hover,
  &:focus,
    color: white


.welcome-nav-link
  line-height: 50px
  font-size: 80%

  @extend .welcome-link

.welcome-loginButton
  @extend .btn
  @extend .btn-primary-outline
  color: white
  border-color: white
  opacity: 0.8
  &:hover
    opacity: 1
    background-color: white
    color: black
    border-color: white

.welcome-page
  opacity: 0.8
  color: white

.welcome-page-title
  margin-bottom: 0.5em
  font-size: 3em

.welcome-page-button-wrapper
  margin-top: 2em

.welcome-header
  font-size: 3.5em
  font-weight: 600
  opacity: 0.8

  color: white
  margin-bottom: 0.25em

.welcome-footer
  text-align: center
  color: white
  font-size: 14px
  padding-bottom: 15px
  opacity: 0.4
  position: absolute
  width: 100%
  height: 55px
  bottom: 0
  @media screen and (max-height: 500px)
    display: none

.welcome-subheader
  color: white
  opacity: 0.8
  margin-bottom: 2em

.welcome-submit
  background-image: linear-gradient(#5db6e8, #168eda 85%, #168eda 90%, #1d93dd)

.welcome-form-footer
  margin: 2em 0
  text-align: right
