.welcome-basic-tariff
  color: white
  border: 1px solid white
  border-radius: 5px
  padding: 25px 40px 35px
  margin-bottom: 45px

  &-header
    font-size: 32px
    line-height: 56px
    margin-bottom: 0

  &-subheader
    margin-top: -5px

  &-details
    margin-top: 25px
    font-size: 80%

  &-details-item
    line-height: 1.5
