// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500)
@import 'welcome-shared'
@import 'welcome-tariff'
@import 'welcome-basic-tariff'
@import 'welcome-nav'
@import 'welcome-form'

.welcome-page
  min-height: 350px
  background-image: linear-gradient(180deg, $colorWelcome, $colorWelcome2)
  // background-color: #563d7c
  font-family: 'Open Sans', sans-serif
  // font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial


.welcome
  color: rgba(255, 255, 255, 0.8)

.welcome-hero
  width: 100%
  margin: 1em auto
  position: relative

.welcome-hero-header
  margin-bottom: 1em
  //position: absolute
  //top: 50%
  //transform: translateY(-50%)

.navbar-light.navbar-welcome
  background-color: transparent

.welcome-welcome
  text-align: center

.welcome-page
  color: white
  padding-top: 2em
  padding-bottom: 4em

.welcome-page-title
  margin-bottom: 0.5em
  font-size: 3em

.welcome-page-button-wrapper
  margin-top: 2em

.welcome-header
  font-size: 3.5em
  font-weight: 600

  color: white
  margin-bottom: 0.25em

.welcome-footer
  margin-top: 4em
  background-color: white
  text-align: center
  color: black
  font-size: 16px
  padding-bottom: 15px
  opacity: 0.9
  width: 100%
  @media screen and (max-height: 1000px)
    position: relative

  .welcome-partner-icon
    max-width: 100px

.welcome-subheader
  color: white
  opacity: 0.8
  margin-bottom: 2em
  font-family: 'Roboto', sans-serif
  h3
    margin-bottom: 1em
    text-align: center
    font-size: 32px
