.filter-group
  - LeadsFilter::STATES_OPTIONS.each do |state|
    button.btn.btn-sm[type='submit' name='state' value=state class=(filter.state == state ? 'btn-primary' : 'btn-secondary')]= I18n.t("leads_filter.state.#{state}", count: filter.states_counts[state])
