.navbar.navbar-light.bg-faded
  ul.nav.navbar-nav
    li.nav-item= link_to 'Заявки', account_landing_leads_url(current_landing), class: 'nav-link'
    li.nav-item= link_to 'Пользователи', account_landing_viewers_url(current_landing), class: 'nav-link'
