= link_to account_landings_url,
  title: current_landing.title,
  class: 'navbar-brand m-r-lg' do
  = fa_icon :desktop, class: 'm-r-sm', text: landing_short_title(current_landing)
/li.nav-item.dropdown
  /= link_to landing_url(current_landing),
    /title: current_landing.title,
    /class: 'nav-link' do
    /= fa_icon :desktop, class: 'm-r-sm', text: landing_short_title(current_landing)
